body 
{
    font-family: Arial, Verdana, Tahoma;
    font-size: 15px;  
}

td {
	line-height: 1.5;
}
#header-container 
{
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
#content-outer-container 
{   
    width:960px;
    position: relative;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;    
}
#footer-copyright-container 
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 45px;
}
.label-error-message
{
	color: red;
	padding: 5px;
	padding-left: 0px;
	font-weight: bold;
}
.text-field {
	padding: 3px;
	width: 200px;
	border: 1px solid #d1d1d1;
    overflow: auto;
    color: #6E6E6E;
}
.text-field-sel {
	padding: 3px;
	width: 200px;
	border: 1px solid black;
    overflow: auto;
}
.row-label {
    width: 75px;
    color: #6E6E6E;
	text-align: right;
}
.row-label-sel 
{
	width: 75px;
    color: Black;
	text-align: right;
}


.login  {
    background-color: #0057fc;
    color: white;   
}