<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true" />
        <!-- To configure IIS to send the X-Frame-Options header, add this to your site's Web.config file: -->
        <!-- Ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options-->
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol> 
    </system.webServer>
    <!-- Server Leaks Information via "X-Powered-By" HTTP Response Header Field(s) -->
    <system.web>
        <httpRuntime enableVersionHeader="false" />
    </system.web>

</configuration>
